<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add user</title>
<meta charset="UTF-8">
<link href="https://unpkg.com/cirrus-ui" type="text/css"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/3a9f5153e2.js"
	crossorigin="anonymous"></script>

<style>
body {
	background-color: #3498db;
	font-family: Arial, sans-serif;
	padding: 50px
}

.container {
	margin: 20px auto;
	padding: 10px;
	width: 500px;
	height: 600px;
	background-color: #fff;
	border-radius: 5px
}
</style>
</head>
<body>

	<div class="container row">
		<h1 class="col">Agregar usuario:</h1>

		<form action="#" th:action="@{/addUser}" th:object="${usuario}"
			method="post" class="col-12">
			<div class="form-section">
				<div class="input-control">
					<input type="text" class="input-contains-icon"
						th:field="*{nombreUsuario}" placeholder="Usuario"> <span
						class="icon"> <i class="fas fa-user"></i></span>
				</div>
			</div>
			<div class="form-section">
				<div class="input-control">
					<input type="text" class="input-contains-icon"
						th:field="*{contrasenia}" placeholder="Contraseña"> <span
						class="icon"> <i class="fas fa-key"></i></span>
				</div>
			</div>
			<p class="row">
				<input class="col-12 btn-primary outline" type="submit" value="Submit" />
			</p>
		</form>
		<div class="col-12">
			<h1>Resultado</h1>
		</div>
		<div class="col">
			<!-- 			<span -->
			<!-- 				th:text="${otro != null} ? ${otro.nombreUsuario} + ' - ' + ${otro.contrasenia} : 'Esperando dato: Nombre usuario y contraseña'">someValue</span> -->
			<span th:text="${estado == null} ? 'En espera de estado' : ${estado}"></span>
		</div>
	</div>
</body>
</html>